<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Monitoring</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeviceServlet</display-name>
    <servlet-name>DeviceServlet</servlet-name>
    <servlet-class>verizon.montoring.DeviceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceServlet</servlet-name>
    <url-pattern>/DeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PortServlet</display-name>
    <servlet-name>PortServlet</servlet-name>
    <servlet-class>verizon.montoring.PortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortServlet</servlet-name>
    <url-pattern>/PortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>verizon.montoring.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateTicket</display-name>
    <servlet-name>GenerateTicket</servlet-name>
    <servlet-class>verizon.montoring.GenerateTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateTicket</servlet-name>
    <url-pattern>/GenerateTicket</url-pattern>
  </servlet-mapping>
</web-app>